[Unit]
Description=BitNodeUI System Metrics Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /etc/bitnodeui/metrics/metrics-service.py
WorkingDirectory=/etc/bitnodeui/metrics
User=bitnodemetrics
Group=bitnodemetrics
Restart=on-failure
StandardOutput=journal
StandardError=journal
ProtectSystem=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target